<div class="container">
    <!-- First box: Password output -->
    <div class="output-box">
      <div class="output">
        <label for="password">Generated Password:</label>
        <input type="text" id="password" readonly [value]="generatedPassword"/>
        <!-- Add copy button next to the password -->
        <!-- <button class="copy-btn" (click)="copyPassword()">Copy</button> -->
      </div>
    </div>
  
    <!-- Second box: Password generator settings -->
    <div class="settings-box">
      <form>
        <div class="slider-container">
          <label for="slider">Password Length: <span id="lengthValue">{{slider}}</span></label>
          <input
            type="range"
            name="slider"
            id="slider"
            min="6"
            max="32"
            value="12"
            [(ngModel)]="slider"
           
          />
        </div>
  
        <div class="options">
          <div class="option-item">
            <input type="checkbox" name="Upper" id="uppercase" [(ngModel)]="includeuppercase" />
            <label for="uppercase">Include Uppercase Letters</label>
          </div>
          <div class="option-item">
            <input type="checkbox" name="lower" id="lowercase" [(ngModel)]="includelowercase" />
            <label for="lowercase">Include Lowercase Letters</label>
          </div>
          <div class="option-item">
            <input type="checkbox" name="numbers" id="numbers" [(ngModel)]="includenumbers" />
            <label for="numbers">Include Numbers</label>
          </div>
          <div class="option-item">
            <input type="checkbox" name="symbols" id="symbols" [(ngModel)]="includesymbols"/>
            <label for="symbols">Include Symbols</label>
          </div>
        </div>
  
        <!-- Password strength indicator -->
        <div class="passwordStrength">
          <div class="Strengthtext">
            <span>STRENGTH:</span>
          </div>
          <div class="Strengthbox">
            <span>{{Strength}}</span>
            <div class="difficulty-box" [ngClass]="{'active1': Strength==='WEAK','active2':Strength==='LIGHT','active3':Strength==='MEDIUM','active4':Strength==='STRONG'}"></div>
            <div class="difficulty-box" [ngClass]="{'active2': Strength==='LIGHT','active3':Strength==='MEDIUM','active4':Strength==='STRONG'}"></div>
            <div class="difficulty-box" [ngClass]="{'active3':Strength==='MEDIUM','active4':Strength==='STRONG'}"></div>
            <div class="difficulty-box" [ngClass]="{'active4':Strength==='STRONG'}"></div>
          </div>
        </div>
  
        <button class="generate-btn" (click)="generatepassword()">GENERATE</button>
      </form>
    </div>
  </div>
  